.section {
  display: flex;
  justify-content: center;
}
.form {
  display: block;
  border: 1px solid blueviolet;
  border-radius: 5px;
  padding: 20px 10px;
}

.label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0;
}
.input {
  display: block;
}
.btn {
  margin-left: 10px;
  color: #ffffff;
  background-color: tomato;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
