.list {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  width: 40%;
  gap: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.item {
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  border: none;
  color: #ffffff;
  background-color: tomato;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
}
